<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" fill="clear" (click)="volver()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="perfil-container">
    <form [formGroup]="perfilForm">
      <div class="input-group">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <div class="error-message" *ngIf="perfilForm.get('nombre')?.touched && perfilForm.get('nombre')?.errors?.['required']">
          El nombre es requerido
        </div>
      </div>

      <div class="input-group">
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="apellido"></ion-input>
        </ion-item>
        <div class="error-message" *ngIf="perfilForm.get('apellido')?.touched && perfilForm.get('apellido')?.errors?.['required']">
          El apellido es requerido
        </div>
      </div>

      <div class="input-group">
        <ion-item>
          <ion-label>Nivel de Educación</ion-label>
          <ion-select formControlName="nivelEducacion">
            <ion-select-option *ngFor="let nivel of nivelesEducacion" [value]="nivel">
              {{ nivel }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="input-group">
        <ion-item>
          <ion-label>Fecha de Nacimiento</ion-label>
          <ion-datetime formControlName="fechaNacimiento" 
                       presentation="date"
                       [preferWheel]="true">
          </ion-datetime>
        </ion-item>
      </div>
    </form>

    <div class="button-container">
<!--       <ion-button expand="block" 
                  color="primary" 
                  (click)="guardarPerfil()"
                  [disabled]="!perfilForm.valid">
        <ion-icon name="save-outline" slot="start"></ion-icon>
        Guardar
      </ion-button> -->

      <ion-button expand="block" 
                  color="warning" 
                  (click)="actualizarPerfil()"
                  [disabled]="!perfilForm.valid">
        <ion-icon name="refresh-outline" slot="start"></ion-icon>
        Actualizar
      </ion-button>

<!--       <ion-button expand="block" 
                  color="danger" 
                  (click)="confirmarBorrado()">
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        Borrar
      </ion-button> -->

      <ion-button expand="block" 
                  color="medium" 
                  (click)="limpiarCampos()">
        <ion-icon name="refresh-circle-outline" slot="start"></ion-icon>
        Limpiar
      </ion-button>
    </div>
  </div>
</ion-content>