<ion-content class="ion-padding login-container">
  <div class="login-wrapper">
    <!-- Logo de la pastelería -->
    <div class="logo-container">
      <img src="assets/logo.png" alt="Logo Pastelería">
    </div>

    <ion-text color="primary">
      <h1 class="ion-text-center">Sweet Dreams</h1>
      <p class="ion-text-center subtitle">Pastelería Artesanal</p>
    </ion-text>

    <form>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input 
          [(ngModel)]="username" 
          name="username"
          type="text"
          class="animated"
          required 
          minlength="3" 
          maxlength="8"
        ></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input 
          [(ngModel)]="password" 
          name="password"
          type="password"
          class="animated"
          required 
          minlength="4" 
          maxlength="4"
        ></ion-input>
      </ion-item>
      
      
      <div class="ion-padding-top">
        <ion-button 
          expand="block" 
          color="primary"
          (click)="login()"
        >
          Iniciar Sesión
        </ion-button>
      </div>

      <p *ngIf="loginError" class="error-text ion-text-center">
        Credenciales incorrectas
      </p>
    </form>
  </div>
</ion-content>