:root {
    --ion-color-primary: #ff6b6b;
    --ion-color-primary-rgb: 255, 107, 107;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #e65e5e;
    --ion-color-primary-tint: #ff7d7d;
  }
  
  .pedidos-container {
    background-color: #fff;
    border-radius: var(--card-border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: var(--page-padding);
  }
  
  ion-list {
    margin-bottom: var(--page-padding);
  }
  
  ion-item {
    margin-bottom: 10px;
  }
  .custom-header {
    --background: #ff6b6b;
    color:#fff;
    text-align: end;
  }