<ion-header>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-button color="light" fill="clear" (click)="volver()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="pedidos-container">
    <ion-list>
      <ion-item>
        <ion-label>Pedido 1</ion-label>
        <ion-note>Fecha: 10/02/2024</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Pedido 2</ion-label>
        <ion-note>Fecha: 15/02/2024</ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>